#header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .brand {
        float: left;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .user-nav {
        float: right;
        padding: 20px 0;

        label,
        input {
            margin: 5px;
        }

        .logout {
            float: right;
        }

        .mobile-message {
            display: none;
            margin-right: 5px;
        }

        .register {
            margin-left: 5px;
        }
    }

    .mobile-user-nav {
        display: none;
        padding: 20px 0;

        a {
            float: right;
            margin: 0 20px;
        }
    }

    @media(max-width: 767px) {
        .brand {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        .user-nav {
            display: none;
            width: 100%;
            max-width: 300px;
            float: none;
            margin: 0 auto;

            label,
            input {
                width: 100%;
            }

            .mobile-message {
                display: inline;
            }
        }

        .mobile-user-nav {
            display: block;
        }
    }
}
