@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
}

.notice,
.error {
    float: left;
    width: 100%;
}

.notice {
    color: #1db645;
}

.error {
    color: #f00;
}

.alternative {
    padding: 0 10px;

    span {
        margin-right: 5px;
    }
}

.center-form {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto;

    h2 {
        margin-bottom: 40px;
    }

    label,
    input {
        width: 100%;
    }

    label {
        font-size: 1.1em;
        margin-top: 3px;
    }

    input {
        font-size: 1.1em;
    }

    .alternative {
        float: left;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 30px;
    }
}

#viewport {
    margin-top: 10px;
    float: left;
    width: 100%;
}
